*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.image-btn{
    width: 2em;
    height: 2em;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-on-hover{
    opacity: 0 !important;
    transition: opacity .3s ease-in;
}
.show-on-hover:hover{
    opacity: 1 !important;
}

.form-group.error input{
    border-color: #dc3545;
}